@media screen and (max-width: 2560px) {
    .circle {
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }
    .circle i {
        font-size: 10rem;
    }
    .firstPadTop {
        padding-top: 20rem;
    }
    .firstRow h1 {
        font-size: 75px;
    }
    .firstRow h2 {
        font-size: 55px;
    }
    .firstRow h4 {
        font-size: 35px;
    }
    .firstRow ul li {
        font-size: 20px;
    }
    .afterGoing p {
        font-size: 2.5rem;
    }
    .afterGoing i {
        font-size: 3rem;
    }
    .respond {
        font-size: 2.5rem;
    }
    .iconWrapper {
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }
    .iconWrapper i {
        font-size: 9rem;
    }
    .prefaceH2 {
        font-size: 50px;
        font-weight: 900;
    }
    .prefaceText p {
        font-size: 25px;
    }
    .prefaceText p:nth-child(8) {
        margin-bottom: 5rem;
    }
    .fourthRow p {
        font-size: 30px;
    }
    .positionRelativeRow p {
        font-size: 30px;
    }
    .bar2 {
        width: 20rem;
    }
    .flex .progress-vertical2 {
        width: 20rem;
    }
    .bar2>span {
        font-size: 20px;
    }
    ul span {
        font-size: 2rem;
    }
    .sixthRow .relevance {
        font-size: 60px;
        margin-bottom: 5rem;
    }
    .sixthRow p {
        font-size: 25px;
    }
    .leftOverMap h5 {
        font-size: 150%;
    }
    .leftOverMap ul li {
        font-size: 25px;
    }
    .leftOverMap li:before {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .overMap {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .overMap div:nth-child(2) h5, .overMap div:nth-child(2) h4 {
        font-size: 200%;
    }
    .rightOverMap h5 {
        font-size: 150%;
    }
    .rightOverMap .rankAndValue span {
        font-size: 25px;
    }
    .divmap {
        transform: scale(1.5);
        margin-bottom: 10rem;
    }
    .bg-gender h2 {
        font-size: 5rem;
    }
    .barSmall {
        width: 3.5rem;
    }
    .text-white {
        font-size: 20px;
    }
    .ul i {
        font-size: 5.2rem;
    }
    .flags-size {
        background-color: #cfcfcf;
        padding: 3.5% 3%;
        margin-top: -5%;
        margin-left: -10px;
        border-radius: 4px;
    }
    .high-low {
        top: 44px;
    }
    .wtf {
        top: 48%;
    }
}

@media screen and (max-width: 1921px) {
    .circle {
        width: 80px;
        height: 80px;
    }
    .circle i {
        font-size: 4.5rem;
    }
    .firstPadTop {
        padding-top: 12rem;
    }
    .firstRow h1 {
        font-size: 36px;
    }
    .firstRow h2 {
        font-size: 30px;
    }
    .firstRow h4 {
        font-size: 18px;
    }
    .firstRow ul li {
        font-size: 15px;
    }
    .afterGoing p {
        font-size: 1.7rem;
    }
    .afterGoing i {
        font-size: 2.1rem;
    }
    .respond {
        font-size: 1.5rem;
    }
    .iconWrapper {
        width: 80px;
        height: 80px;
        border-radius: 50px;
    }
    .iconWrapper i {
        font-size: 3rem;
    }
    .prefaceH2 {
        font-size: 30px;
        font-weight: 900;
    }
    .prefaceText p {
        font-size: 18px;
    }
    .prefaceText p:nth-child(8) {
        margin-bottom: 2rem;
    }
    .fourthRow p {
        font-size: 16px;
    }
    .positionRelativeRow p {
        font-size: 16px;
    }
    .bar2 {
        width: 12rem;
    }
    .flex .progress-vertical2 {
        width: 12rem;
    }
    .bar2>span {
        font-size: 10px;
    }
    ul span {
        font-size: 1.2rem;
    }
    .sixthRow .relevance {
        font-size: 30px;
        margin-bottom: 5rem;
    }
    .sixthRow p {
        font-size: 16px;
    }
    .leftOverMap h5 {
        font-size: 100%;
    }
    .leftOverMap ul li {
        font-size: 13px;
    }
    .leftOverMap li:before {
        width: 10px;
        height: 10px;
        margin-right: 7.5px;
    }
    .overMap {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .overMap div:nth-child(2) h5, .overMap div:nth-child(2) h4 {
        font-size: 100%;
    }
    .rightOverMap h5 {
        font-size: 100%;
    }
    .rightOverMap .rankAndValue span {
        font-size: 14px;
    }
    .divmap {
        transform: scale(1);
        margin-bottom: 5rem;
    }
    /* GENDER */
    .bg-gender h2 {
        font-size: 30px;
    }
    .barSmall {
        width: 1.7rem;
    }
    .text-white {
        font-size: 10px;
    }
    .ul i {
        font-size: 2.2rem;
    }
    .flags-size {
        background-color: #cfcfcf;
        padding: 4% 3%;
        margin-top: -6%;
        margin-left: -10px;
        border-radius: 4px;
    }
    .wtf {
        position: absolute;
        top: 50%;
        padding: 2% 0 3% 5%;
        transform: translateY(-50%);
        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .list-group-item {
        display: list-item;
        padding: 12px 0 0 10px;
    }
    .high-low {
        top: 29px;
    }
    .text-country {
        margin-top: 4%;
    }
    .wtf span:last-child {
        margin-top: 4%;
    }
}

@media screen and (max-width: 1673px) {
    .flags-size {
        margin-top: -7%;
    }
}

@media screen and (max-width: 1643px) {
    .flags-size {
        margin-top: -7%;
    }
}

@media screen and (max-width: 1600px) {
    .flags-size {
        margin-top: -7%;
    }
}

@media screen and (max-width: 1450px) {
    .flags-size {
        margin-top: -9%;
        padding: 5% 3%;
    }
}

@media screen and (max-width: 1440px) {
    .list-group-item {
        padding: 17px 0 0 10px;
    }
}

@media screen and (max-width: 1342px) {
    .list-group-item {
        padding: 14px 0 0 10px;
    }
}

@media screen and (max-width: 1294px) {
    .list-group-item {
        padding: 12px 0 0 10px;
    }
}

@media screen and (max-width: 1231px) {
    .list-group-item {
        padding: 11px 0 0 10px;
    }
}

@media screen and (max-width: 1225px) {
    .barSmall {
        width: 1.5rem;
    }
    form {
        width: 60%;
    }
    .buttonsOverMap div i, .buttonsOverMap div span {
        font-size: 10px;
    }
}

@media screen and (max-width: 1220px) {
    .barSmall {
        width: 1.5rem;
    }
}

@media screen and (max-width: 1202px) {
    .list-group-item {
        padding: 9px 0 0 10px;
    }
}

@media screen and (max-width: 1159px) {
    .flag-icon {
        width: 2.3em;
        line-height: 2.3em;
    }
    .list-group-item {
        padding: 8px 0 0 10px;
    }
}

@media screen and (max-width: 1149px) {
    .barSmall {
        width: 1.3rem;
    }
}

@media screen and (max-width: 1134px) {
    .bar-tel {
        width: 100%;
    }
    .li {
        width: 7%;
        white-space: nowrap;
    }
}

@media screen and (max-width: 1117px) {
    .barSmall {
        width: 1.5rem;
        font-size: 1rem;
    }
    .ul span {
        font-size: 0.9rem;
    }
    .barSmall {
        width: 1.2rem;
    }
}

@media screen and (max-width: 1087px) {
    .overMap {
        padding-left: 0;
        padding-right: 0;
    }
    .rankAndValue .byRanking, .rankAndValue .byValue {
        font-size: 12px;
    }
    .barSmall {
        width: 1.2rem;
        font-size: 1.2rem;
    }
    .ul span {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1040px) {
    .rightOverMap .rankAndValue span {
        font-size: 10px;
        margin-right: 3px;
        margin-left: 3px;
        padding: 0.5rem;
    }
    .list-group-item {
        padding: 12px 0 0 10px;
    }
    .flags-size {
        margin-top: -11.7%;
        padding: 6% 3%;
    }
    .high-low {
        top: 22px;
    }
    .flag-icon {
        line-height: 1.5em !important;
    }
}

@media screen and (max-width: 1029px) {
    .flag-icon {
        line-height: 1.5em;
    }
    .list-group-item {
        padding: 4px 0 0 10px;
    }
    .flags-size {
        margin-top: -9.1%;
    }
    .wtf {
        top: 43%;
    }
    .flag-icon {
        line-height: 1.2em !important;
    }
    .text-country {
        margin-top: 3%;
    }
    .wtf span:last-child {
        margin-top: 3%;
    }
}

@media screen and (max-width: 1024px) {
    .respond {
        width: 20%;
    }
    .thirdRow p {
        font-size: 15px;
    }
    .second {
        font-size: 1.3rem;
    }
    .ol span {
        font-size: 1.4rem;
    }
    .ul li {
        margin: 0;
    }
    .progress-vertical {
        width: 37px;
    }
    .my-b {
        margin-bottom: 2rem;
    }
    .bar2 {
        width: 11rem;
    }
    .flex .progress-vertical2 {
        width: 11rem;
    }
    .barSmall {
        width: 1.5rem;
        font-size: 1.4rem;
    }
    .ul span {
        font-size: 0.9rem;
    }
    .positionRelativeRow p {
        font-size: 1.4rem;
    }
    form {
        width: 70%;
    }
    .rightOverMap .rankAndValue span {
        font-size: 11px;
        margin-right: 3px;
        margin-left: 3px;
        padding: 0.7rem;
    }
}

@media screen and (max-width: 1005px) {
    .rightOverMap .rankAndValue span {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .overMap {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 915px) {
    .flags-size {
        margin-top: -10.1%;
    }
    .wtf span:last-child {
        font-size: 1.2rem;
    }
    .wtf {
        top: 48%;
    }
    .text-country {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 877px) {
    .flags-size {
        margin-top: -11.1%;
    }
    .high-low {
        top: 20px;
    }
}

@media screen and (max-width: 795px) {
    .bar2 {
        width: 11rem;
    }
    .flex .progress-vertical2 {
        width: 11rem;
    }
}

@media screen and (max-width: 784px) {
    .flags-size {
        margin-top: -12.1%;
    }
    .flag-icon {
        line-height: 1.2em !important;
    }
    .text-country {
        font-size: 1.3rem;
    }
    .high, .low {
        font-size: 0.9rem;
        padding: 0.1rem 0.5rem;
    }
    .high-low {
        right: 5px;
        top: 21px;
    }
    .flags-i i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 769px) {
    .header h4 {
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    .ol {
        padding: 2% 8%;
    }
    .font-text {
        padding: 2% 4%;
    }
    .divmap {
        margin-top: 2rem;
    }
    .rightOverMap .rankAndValue span {
        font-size: 17px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 0.7rem;
    }
    form {
        width: 80%;
    }
    .mainDivChoices label {
        padding: 15px 15px;
    }
    .questionHeader:before {
        left: -45px;
    }
    .q10:before {
        left: -55px;
    }
    .q11:before {
        left: -50px;
    }
    .q12:before {
        left: -55px;
        top: 6%;
    }
    .q13:before {
        left: -55px;
    }
    .q14:before {
        left: -55px;
    }
    .q15:before {
        left: -55px;
    }
    .divmap {
        margin-top: 2rem;
    }
    .LabelsRadios label {
        height: auto;
        padding: 7px 7px;
        width: 30%;
    }
    .rightOverMap .rankAndValue span {
        font-size: 12px;
        margin-right: 3px;
        margin-left: 3px;
        padding: 0.7rem;
    }
    .input12 {
        width: 70%;
    }
    .text-country {
        font-size: 1.3rem;
    }
    .flag-icon {
        line-height: 1.3em !important;
    }
    .wtf span:last-child {
        font-size: 1rem;
    }
    .high, .low {
        font-size: 0.8rem;
    }
    .flags-size {
        margin-top: -12.6%;
    }
    .wtf {
        top: 54%;
    }
}

@media screen and (max-width: 767px) {
    .flags-size {
        margin-top: -5.1%;
        padding: 3% 3%;
    }
    .list-group-item {
        padding: 9px 0 0 10px;
    }
    .wtf {
        padding-left: 0%;
    }
    .high-low {
        top: 34px;
    }
    .high, .low {
        font-size: 1rem;
    }
}

@media screen and (max-width: 736px) {
    .flags-size {
        margin-top: -5.3%;
    }
}

@media screen and (max-width: 703px) {
    .list-group-item {
        padding: 7px 0 0 10px;
    }
}

@media screen and (max-width: 700px) {
    .bar2 {
        width: 10rem;
    }
    .flex .progress-vertical2 {
        width: 10rem;
    }
    .buttonsOverMap li {
        padding-bottom: 75px;
    }
    .buttonsOverMap li i {
        margin-bottom: 10px;
    }
    .buttonsOverMap li label {
        -webkit-transform: rotate(90deg);
        width: 60px;
        transform-origin: left top;
        position: absolute;
        left: 60%;
        top: 45%;
        white-space: nowrap;
        text-align: left;
    }
}

@media screen and (max-width: 678px) {
    .li {
        width: 8.5%;
    }
    .bar-tel {
        margin-top: 3rem;
        width: 80%;
    }
    .span-rotate {
        white-space: nowrap;
        font-size: 1rem;
    }
}

@media screen and (max-width:669px) {
    .barSmall {
        width: 1.4rem;
    }
    .flex2 div div .text-white {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 647px) {
    .flags-size {
        margin-top: -6%;
        padding: 3% 3%;
    }
}

@media screen and (max-width:638px) {
    .barSmall {
        width: 1.2rem;
    }
}

@media screen and (max-width: 611px) {
    .flex2 div div .text-white {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 593px) {
    .bar2 {
        width: 9rem;
    }
    .flex .progress-vertical2 {
        width: 9rem;
    }
    form {
        width: 90%;
    }
    .mainDivChoices label {
        padding: 10px 12px;
    }
    form {
        padding-left: 30px;
    }
}

@media screen and (max-width: 582px) {
    .barSmall {
        width: 1.1rem;
    }
}

@media screen and (max-width: 580px) {
    .respond {
        width: 25%;
    }
    .li {
        width: 8%;
    }
}

@media screen and (max-width: 573px) {
    .flags-size {
        margin-top: -7%;
        padding: 4% 3%;
    }
}

@media screen and (max-width: 562px) {
    .barSmall {
        width: 1rem;
    }
    .flex2 div div .text-white {
        font-size: 0.6rem;
    }
    .bg-gender h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 558px) {
    .bar2 {
        width: 8rem;
    }
    .flex .progress-vertical2 {
        width: 8rem;
    }
    .span-rotate {
        white-space: nowrap;
        font-size: 1rem;
    }
    .que {
        padding: 0;
    }
    .mainDivChoices label {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 554px) {
    .barSmall {
        width: 0.9rem;
    }
    .flex2 div div .text-white {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 554px) {
    .barSmall {
        width: 0.8rem;
    }
}

@media screen and (max-width: 540px) {
    .ul span {
        font-size: 0.8rem;
    }
    .ulbig span {
        font-size: 1rem;
    }
    .question12, .question12, .question13, .question14, .question15 {
        margin-left: 15px;
    }
    .question11, .question10 {
        margin-left: 6px;
    }
    .LabelsRadios label {
        margin-right: 7px;
    }
    .flags-size {
        margin-top: -7%;
    }
}

@media screen and (max-width: 531px) {
    .flags-size {
        margin-top: -7%;
        padding: 4% 3%;
    }
    .wtf {
        top: 56%;
    }
    .high-low {
        top: 27px;
    }
}

@media screen and (max-width: 508px) {
    .ul i {
        font-size: 1.5rem;
    }
    .ul span {
        font-size: 0.7rem;
    }
    .ulbig span {
        font-size: 1rem;
    }
}

@media screen and (max-width: 504px) {
    .flags-size {
        margin-top: -8%;
        padding: 4% 3%;
    }
    .high-low {
        top: 28px;
    }
    .text-country {
        margin-top: 3%;
    }
    .wtf span:last-child {
        margin-top: 3%;
    }
}

@media screen and (max-width:499px) {
    .flags-size {
        margin-top: -8%;
        padding: 4% 3%;
    }
}

@media screen and (max-width: 494px) {
    .bar2 {
        width: 6.5rem;
    }
    .flex .progress-vertical2 {
        width: 6.5rem;
    }
    .mainDivChoices label {
        padding: 10px 10px;
    }
    .LabelsRadios label {
        height: 50px;
    }
    .question13 label, .LabelsRadios label {
        width: 44%;
    }
    .input12 {
        width: 90%;
    }
    .btn12 {
        margin-top: 2em;
        width: 90%;
    }
}

@media screen and (max-width: 472px) {
    .barSmall {
        width: 0.7rem;
    }
}

@media screen and (max-width: 466px) {
    .flex2 div div .text-white {
        font-size: 0.4rem;
    }
    .barSmall {
        width: 0.6rem;
    }
}

@media screen and (max-width: 459px) {
    .ul span {
        font-size: 0.5rem;
    }
    .ulbig span {
        font-size: 1rem;
    }
    .flex2 div div .text-white {
        font-size: 0.4rem;
    }
    .ul .li {
        padding: 0;
    }
}

@media screen and (max-width: 448px) {
    .flags-size {
        margin-top: -9%;
    }
    .high-low {
        top: 24px;
    }
}

@media screen and (max-width: 441px) {
    .list-group-item {
        padding: 7px 0 0 0px;
    }
    .mainDivChoices label {
        padding: 7px 7px;
    }
}

@media screen and (max-width: 434px) {
    .high-low {
        top: 23px;
    }
    .flags-size {
        margin-top: -9%;
        padding: 4% 3%;
    }
}

@media screen and (max-width: 426px) {
    .counter {
        width: 29px;
    }
    .firstPadTop {
        padding-top: 7rem;
    }
    .respond {
        width: 35%;
    }
    .second {
        font-size: 1.3rem;
    }
    .ol span {
        font-size: 1.5rem;
        margin-top: 2%;
    }
    .ol {
        list-style: none;
        padding: 3%;
        text-align: center;
    }
    .flexOl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }
    .font-text {
        padding: 5% 4%;
    }
    .firstP {
        margin-bottom: 2%;
    }
    .span-rotate {
        display: block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        white-space: nowrap;
        margin-top: 1rem;
    }
    .li {
        width: 8%;
    }
    .progress-vertical {
        width: 25px;
    }
    .bar-tel {
        margin-top: 4.4rem;
    }
    .flexUl {
        /* float: right; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .afterGoing {
        bottom: 2.5%;
    }
    @keyframes aftergoing {
        0% {
            bottom: 2.5%;
        }
        25% {
            bottom: 3.5%;
        }
        50% {
            bottom: 4.5%;
        }
        75% {
            bottom: 3.5%;
        }
        100% {
            bottom: 2.5%;
        }
    }
    .padTopBotSpecial {
        padding-bottom: 10rem;
    }
    .padTopBotSpecial2 {
        padding-bottom: 15rem;
    }
    .datasetOl li i {
        font-size: 3rem;
    }
    .second {
        line-height: 90%;
    }
    .flexOl {
        margin: 3rem 0;
    }
    .li i {
        font-size: 1.5rem;
    }
    .bar2>span {
        -webkit-transform: rotate(90deg);
        bottom: 10px;
    }
    .flex .progress-vertical2 {
        margin-top: 35px;
    }
    .firstPadTop {
        padding-top: 7rem;
    }
    .respond {
        width: 35%;
    }
    ul span {
        -webkit-transform: rotate(90deg);
    }
    .padbot {
        padding-bottom: 3rem;
    }
    .afterGoingSlower {
        bottom: 0;
    }
    @keyframes afterGoingSlower {
        0% {
            bottom: 0%;
        }
        25% {
            bottom: 1%;
        }
        50% {
            bottom: 1.5%;
        }
        75% {
            bottom: 1%;
        }
        100% {
            bottom: 0%;
        }
    }
    .ul2 li {
        padding: 0;
    }
    .divmap {
        margin-top: 0rem;
    }
    .barSmall {
        width: 0.9rem;
        margin-top: 0.8rem;
        padding: 2%;
    }
    .flex span {
        margin-top: 0.8rem;
        font-size: 0.7rem;
    }
    .li-p {
        padding: 0;
    }
    .divmap {
        margin-top: 0rem;
    }
    .buttonsOverMap li i {
        font-size: 15px;
    }
    .ulbig span {
        font-size: 1rem;
    }
    .flags-size {
        margin-top: -10%;
        padding: 6% 3%;
    }
    .high-low {
        top: 22px;
    }
    .mainDivChoices{
        flex-wrap: wrap;
    }
    .mainDivChoices label{
        width: 19.9%;
        padding: 15px 7px;
    }
    .LabelsRadios label{
        width: 44%;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 388px) {
    .barSmall {
        width: 0.8rem;
    }
}

@media screen and (max-width: 376px) {
    .background-first {
        height: 105vh;
    }
    .bar2 {
        width: 6rem;
    }
    .flex .progress-vertical2 {
        width: 6rem;
    }
    .flags-size {
        margin-top: -10%;
        margin-left: -9px;
    }
    .wtf {
        padding-left: 4%;
        top: 50%;
    }
    .list-group-item {
        padding: 7px 0 0 9px;
        margin: 5px 0 0 0px;
    }
}

@media screen and (max-width: 373px) {
    /* .barSmall {
        width: 0.1rem;
    } */
}

@media screen and (max-width: 351px) {
    .bar2 {
        width: 5.5rem;
    }
    .flex .progress-vertical2 {
        width: 5.5rem;
    }
}

@media screen and (max-width: 339px) {
    .flags-size {
        margin-top: -12%;
    }
}

@media screen and (max-width: 331px) {
    .bar2 {
        width: 5rem;
    }
    .flex .progress-vertical2 {
        width: 5rem;
    }
}

@media screen and (max-width: 329px) {
    .ul .li .flex i {
        font-size: 1rem;
    }
    .barSmall {
        width: 0.8rem;
    }
    .li {
        width: 7.5%;
    }
    .flags-size {
        margin-top: -13%;
    }
    .high, .low {
        font-size: 0.8rem;
    }
    .wtf span:last-child {
        margin-top: 3.2%;
    }
}

@media screen and (max-width: 320px) {
    .background-first {
        height: 108vh;
    }
    .progress-vertical {
        width: 14px;
    }
    .li {
        width: 7%;
    }
    .bar2 {
        width: 4rem;
    }
    .flex .progress-vertical2 {
        width: 4rem;
    }
    .barSmall {
        width: 0.7rem;
    }
    .text-white {
        bottom: 5px;
    }
    .flags-size {
        margin-top: -12%;
    }
    .high-low {
        top: 19px;
    }
    .high, .low {
        font-size: 0.8rem;
    }
}